.error {
    -fx-text-fill: #E15B5B !important; /* The error class should always override the default text-fill style */
}

.warn{
    -fx-text-fill: #E1BB5B !important; /* The warn class should always override the default text-fill style */
}

.success {
    -fx-text-fill: #5BE18C !important; /* The success class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #282A36;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}
